.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #0f172a;
  color: #e5e7eb;
  font-family: "Inter", sans-serif;
}

/* Header */
.chat-header {
  padding: 15px 20px;
  background: #020617;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #1e293b;
}

.chat-header h3 {
  margin: 0;
  font-size: 18px;
}

.online-status {
  color: #22c55e;
  font-size: 14px;
}

/* Messages */
.chat-messages {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Message bubble */
.message {
  max-width: 60%;
  padding: 10px 14px;
  border-radius: 10px;
  font-size: 14px;
}

.message .user {
  display: block;
  font-size: 12px;
  opacity: 0.7;
  margin-bottom: 4px;
}

/* Received */
.received {
  background: #1e293b;
  align-self: flex-start;
}

/* Sent */
.sent {
  background: #2563eb;
  align-self: flex-end;
}

/* Input */
.chat-input {
  padding: 15px;
  display: flex;
  gap: 10px;
  background: #020617;
  border-top: 1px solid #1e293b;
}

.chat-input input {
  flex: 1;
  padding: 10px 12px;
  border-radius: 6px;
  border: none;
  outline: none;
  background: #020617;
  color: #e5e7eb;
  border: 1px solid #1e293b;
}

.chat-input button {
  padding: 10px 18px;
  border-radius: 6px;
  border: none;
  background: #2563eb;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.chat-input button:hover {
  background: #1d4ed8;
}
.show-user{
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 20px;
}